.sec_sp {
    /* margin-left: 18%; */
    margin-bottom: calc(3rem + 5.128vw);
}
.main{
    margin-left: 18%;
}

.table td,
.table th {
    color: var(--text-color);
}

.t_border {
    border-color: var(--text-color) !important;
}

.progress-title {
    font-size: 16px;
    font-weight: 700;
    margin: 15px 0 20px;
    font-family: 'Raleway';
}

.progress {
    height: 5px;
    background: var(--secondary);
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.progress .progress-bar {
    position: relative;
    background: var(--text-color);
    animation: animate-positive 2s;
    overflow: visible;
    opacity: 0.9;
    -webkit-animation: animate-positive 2s;
}

.progress .progress-value {
    position: absolute;
    top: -30px;
    right: 8px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: var(--text-color);
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

.section-title {
    font-size: 45px;
}

.service__title {
    padding: 8px 0;
    font-weight: bold;
    color: var(--text-color-3);
    border-bottom: solid 2px var(--secondary-color);
}

.experience-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.experience-title {
    display: flex;
    align-items: center;
}

.bullet-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.experience-descriptions {
    list-style-type: disc;
    padding-left: 20px;
}

.experience-descriptions li {
    margin-bottom: 10px;
}

/* Vertical line styles */
.experience-item::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--secondary-color);
    z-index: -1;
}
.experience-item::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--secondary-color);
    z-index: -1;
}

.experience-title::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    width: 2px;
    height: 10px;
    background-color: var(--secondary-color);
    border-top: 2px dotted var(--secondary-color);
}
@media (max-width: 768px) {
    .main {
        margin-left: 0;
    }
}
